#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	# Install the binary
	install -D -m 755 target/release/mameuix debian/mameuix/usr/bin/mameuix
	
	# Install desktop file
	install -D -m 644 mameuix.desktop debian/mameuix/usr/share/applications/mameuix.desktop
	
	# Install icons
	install -D -m 644 assets/icons/16x16/mameuix.png debian/mameuix/usr/share/icons/hicolor/16x16/apps/mameuix.png
	install -D -m 644 assets/icons/32x32/mameuix.png debian/mameuix/usr/share/icons/hicolor/32x32/apps/mameuix.png
	install -D -m 644 assets/icons/48x48/mameuix.png debian/mameuix/usr/share/icons/hicolor/48x48/apps/mameuix.png
	install -D -m 644 assets/icons/64x64/mameuix.png debian/mameuix/usr/share/icons/hicolor/64x64/apps/mameuix.png
	install -D -m 644 assets/icons/128x128/mameuix.png debian/mameuix/usr/share/icons/hicolor/128x128/apps/mameuix.png
	install -D -m 644 assets/icons/256x256/mameuix.png debian/mameuix/usr/share/icons/hicolor/256x256/apps/mameuix.png
	install -D -m 644 assets/icons/scalable/mameuix.svg debian/mameuix/usr/share/icons/hicolor/scalable/apps/mameuix.svg
	
	# Install man page
	install -D -m 644 debian/mameuix.1 debian/mameuix/usr/share/man/man1/mameuix.1

override_dh_strip:
	dh_strip --dbg-package=mameuix-dbg 